<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <p>num1:<input type="text" v-model="num1"></p>
    <p>num2:<input type="text" v-model="num2"></p>
    <p><button @click="computed">计算</button></p>
    <p>result:{{results}}</p>
    <a :href="url">百度</a>


</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    var vue = new Vue({
        el:'#app',
        data:{
            num1:'',
            num2:'',
            results:'',
            url:'http://www.baidu.com'
        },
        methods:{
            computed:function(){
                this.results = parseInt(this.num1) + parseInt(this.num2);
            }
        }
    })
</script>
</body>
</html>